model-viewer {
  width: auto;
  max-width: 1920px;
  height: 900px;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(0, 0, 0) 74%);
  margin: 0 auto;
}

.Hotspot {
  background: #E503CB;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}
.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}
.Hotspot:focus {
  border: 4px solid #FAD508;
  height: 32px;
  outline: none;
  width: 32px;
}
.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}
.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #FAD508;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 150px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}
.HotspotAnnotation p {
  color: #ffffff;
  line-height: 16px;
  font-weight: 300;
}
.HotspotAnnotation h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
.HotspotAnnotation img {
  width: 100%;
  margin-bottom: 5px;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}
#ar-button:active {
  background-color: #E8EAED;
}
#ar-button:focus {
  outline: none;
}
#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

@media screen and (min-width: 768px) {
  .HotspotAnnotation {
    font-size: 14px;
    max-width: 200px;
  }
  .HotspotAnnotation p {
    line-height: 16px;
    font-weight: 300;
  }
  .HotspotAnnotation h2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .HotspotAnnotation {
    font-size: 18px;
    max-width: 300px;
  }
  .HotspotAnnotation p {
    line-height: 22px;
    font-weight: 300;
  }
  .HotspotAnnotation h2 {
    font-size: 18px;
  }
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.hidden {
  display: none;
}

.hero h1 {
  padding-top: 80px;
  margin: 0;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  background-color: #000000;
}
.hero span {
  font-weight: 100;
}

#earpod-vid {
  max-width: 100%;
}

#product-1-pic, #product-2-pic {
  background-color: #599BBA;
  color: #000000;
  border-radius: 0%;
  width: auto;
  height: 296px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#product-1-detail, #product-2-detail {
  margin: 20px 20px 20px 20px;
  text-align: center;
}

#sub-title-3 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#xray-1, #xray-2 {
  background-color: #599BBA;
  color: #000000;
  border-radius: 0%;
  width: auto;
  height: 349px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 75px;
    padding-top: 100px;
  }
  #product-1-pic, #product-2-pic {
    background-color: #599BBA;
    color: #000000;
    border-radius: 0%;
    width: auto;
    height: 350px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #product-1-detail, #product-2-detail {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  #sub-title-2 {
    margin-bottom: 100px;
  }
  #product-1-pic, #product-2-pic {
    background-color: #599BBA;
    color: #000000;
    border-radius: 0%;
    width: auto;
    height: 480px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
  }
  #product-1-detail, #product-2-detail {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0%;
    width: auto;
    height: 480px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .product-detail-title {
    font-size: 35px;
    margin: 30px auto;
  }
  .product-detail-sub {
    font-size: 19px;
    margin: 30px auto;
  }
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    background-color: #599BBA;
    color: #000000;
    border-radius: 0%;
    width: auto;
    height: 700px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1920px) {
  .hero h1 {
    font-size: 125px;
  }
}/*# sourceMappingURL=main.css.map */