@use '../abstracts' as a;

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: a.$font-family;
}

.hidden {
    display: none;
}

.hero {
    height: 100vh;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: a.$white;    
}

#earpod-vid {
    max-width: 100%;
}

// #circle-left, #circle-right {
//     @include a.box (a.$second-color, a.$black, 50%, 148px, 148px);
// }

// #circle-left {
//     justify-self: end;
// }

// #sub-title {
//     font-size: 35px;
//     text-align: center;
// }

#product-1-pic, #product-2-pic {
    @include a.box (a.$second-color, a.$black, 0%, auto, 296px);
    margin-top: 35px;
    margin-bottom: 35px;
}

#product-1-detail, #product-2-detail {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

#sub-title-3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

#xray-1, #xray-2 {
    @include a.box (a.$second-color, a.$black, 0%, auto, 349px);
}

@media screen and (min-width: 768px) {
    h1 {
        text-align: center;
        font-size: 75px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #circle-left, #circle-right {
        @include a.box (a.$second-color, a.$black, 50%, 350px, 350px);
    }

    #product-1-pic, #product-2-pic {
        @include a.box (a.$second-color, a.$black, 0%, auto, 350px);
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    #product-1-detail, #product-2-detail {
        margin: 20px 20px 20px 20px;
        text-align: center;
        font-size: 25px;
    }

}

@media screen and (min-width: 1200px) {
    h1 {
        text-align: center;
        font-size: 125px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #circle-left, #circle-right {
        @include a.box (a.$second-color, a.$black, 50%, 450px, 450px);
    }

    #sub-title-2 {
        margin-bottom: 100px;
    }

    #product-1-pic, #product-2-pic {
        @include a.box (a.$second-color, a.$black, 0%, auto, 480px);
        padding: 0;
        margin: 0;
    }
    
    #product-1-detail, #product-2-detail {
        @include a.box (a.$black, a.$white, 0%, auto, 480px);
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .product-detail-title {
        font-size: 35px;
        margin: 30px auto;
    }

    .product-detail-sub {
        font-size: 19px;
        margin: 30px auto;
    }

    #mobile-tablet-view {
        display: none;
    }

    #outerShell {
        @include a.box (a.$second-color, a.$black, 0%, auto, 700px);
        padding: 0;
        margin: 0;
    }
    
}
